@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	src: url(/fonts/Poppins-Regular.ttf) format('ttf');
}
@font-face {
	font-family: 'Avenir';
	src: url(/fonts/Avenir.ttc) format('ttc');
}

@layer components {
	body {
		@apply font-poppins;
	}

	.wrapper {
		@apply w-screen h-screen overflow-x-hidden overflow-y-scroll;
	}

	.section {
		@apply flex flex-row w-screen h-screen p-10;
	}

	.section h1 {
		@apply text-4xl font-semibold font-avenir;
	}

	.sectionContent {
		@apply flex flex-col px-10;
	}
}
